* {
  background-color: #000000;
}

.header {
  background-color: #696969;
  color: #ffffff;
  font-size: 14px;
  font-family: cursive;
  text-align: center;
}

.imagehongo {
  background-color: #424242;
  margin: 5px;
  position: left;
  width: 15%;
}

.animatedmegaman {
  position: center;
}

.Home {
  margin-top:120px;
  text-align: center;
  color: #4169E1;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.search {
  margin-top: 60px;
  position: center;
  color: #4169E1;
  font-size: 20px;
}

.button {
  color: #39e600;
  background-color: #212121;
  font-size: 18px;
  width:100px;
  height: 22px;
}

.buttonsearch {
  background-color: #212121;
  color: #f44336;
  width: 100px;
  height: 27px;
}

.input {
  background-color: #FFFFFF;
  width: 300px;
  height: 22px;
}

.listsearch {
  text-align: right;
  list-style-type: none;
  margin-right: 500px;
}

.list {
  text-align: right;
  list-style-type: none;
  margin-right: 500px;
}

.divlist {
  font-size: 18px;
  padding: 2px;

}
