* {
  background-color: #303030;
  color: #E8E8E8;
  font-size: 46px;
  font-family: cursive;
  text-align: center;
}

label {
  font-size: 20px;
}

li {
  font-size: 15px;
  text-align: right;
}

p {
  background-color: #505050 ;
  border-radius: 0.3em;
}

.button {
  background-color: #20B2AA;
  border-radius: 0.2em;
  height: 14%;
  font-size: 20px;
  width: 15%;
}

.hidden {
  opacity: 0;
  text-align:center;
}

.label {
  height: 10%;
  font-size: 20px;
  width: 30%;
}
